.SliderVerticalWrapper {
  width: 100%;
  height: calc(#{$basicUnit} * 2);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative
}

.Slider {
  width: 8px;
  height: 83.75%;
  background: black;
}

.meter {
  position: absolute;
  width: 20px;
  height: 0;
  max-height: 83.75%;
  background-color: green;
  bottom: calc((100% - 83.75%) /2);
}

.thumb {
  left: calc(#{$basicWidth} * 0.6 / 1.5 / 2 * -1 - 2px);
  width: calc(#{$basicWidth} * 0.6 / 1.5);
  height: calc(#{$basicUnit} * 0.6 / 1.5);
  background: $bg;
  border: 6px solid black;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  @include font;
  cursor: pointer;
}