.envelope {
  width: calc(#{$basicWidth} * 4);
  height: calc(#{$basicUnit} * 2);
  // margin-left: -6px;
  position: relative;
}

.synthGeneralParams {
  position: relative;
  width: calc(#{$basicWidth});
  // margin-left: -6px;
  height: calc(#{$basicUnit} * 4);

  .KnobWrapper {
    h1 {
      // margin-left: 6px;
      width: calc(100%);
    }

    .Knob {
      // margin-left: 6px;
    }
  }
}