.sequensorWrapper {
  display: flex;
  position: relative;
  width: calc(#{$basicWidth} * 6);
  height: calc(#{$basicUnit} * 3);
  @include border;
  margin-top: -6px;

  .octaveSwitcher {
    height: 100%;
    width: calc(#{$basicWidth} / 2);

    .octaveItem {
      width: 100%;
      height: calc(100% / 8);
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        background-color: $darkGrey;
      }
    }
  }

  .notes {
    height: 100%;
    width: calc(#{$basicWidth} / 2);

    .noteItem {
      width: 100%;
      height: calc(100% / 7);
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .sequensor {
    display: flex;
  }

  .activeColumn {
    background-color: black;
  }

  .sequensorColumn {
    width: calc((#{$basicWidth} * 5)/16);
    height: 100%;


    .sequensorColumnItem {
      width: 100%;
      height: calc(100% / 7);

      &.active {
        background-color: black;
      }
    }

    &:nth-of-type(odd) {
      background-color: $grey;
    }

    &:nth-of-type(even) {
      background-color: $darkGrey;
    }
  }

  .left {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: black;
    z-index: 10;
  }

  .right {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 6px;
    background-color: black;
    z-index: 10;
  }

  .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 6px;
    width: 100%;
    background-color: black;
    z-index: 10;
  }

  .top {
    position: absolute;
    left: 0;
    top: 0;
    height: 6px;
    width: 100%;
    background-color: black;
    z-index: 10;
  }
}